.emaillist{
    flex: 1;
    overflow: scroll;
}
.emaillist::-webkit-scrollbar{
    display: none;
}
.emaillist{
    -ms-overflow-style:none;
    scrollbar-width: none;
}
.emaillist-setting{
    position:sticky;
    top: 0;    
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}
.emaillist-section{
    position: sticky;
    top: 0;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}
.emailist-list{
  padding-bottom: 20%;
}